/* nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Products.html">Products</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Videoes.html">Videos</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="Contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#Contact.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div> */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.icon_img {
    float: left;
    padding: 5px;
    height: 90px;
    width: 180px;
}

header {
    display: flex;
    
    align-items: center;
}

.divv1 {
    width: 15%;
}

.divv2 {
    width: 85%;
    /* padding: 5px; */
}

.nav1 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color: #181e73;
    padding: 12px;
    border-radius: 8px;
    margin-left: 4px;
    width: 100%;
}

.nav1 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    color: white;
    padding: 8px;
}

.nav2 {
    padding: 5px;
    margin: 5px;
    /* width: 100%; */
    display: flex;
}

.nav2 a {
    text-decoration: none;
    /* font-size: 13px; */
    font-weight: bold;
    margin: 10px;
    color: black;
    padding: 7px 15px;
    border: solid lightgrey;
    border-radius: 8px;
}

.nav1 a.active {
    background-color: red;
    border-radius: 5px;
}

.nav2 a.active {
    background-color: #181e73;
    border-radius: 8px;
    color: white;
}
 @media   screen and (max-width: 900px) {
            header{
                margin-bottom: 10px;
                flex-direction: column;
            }
            .nav1 a{
                margin: 8px;
                padding:0px;
            }
            .nav1{
                text-align: center;
                margin-left:20px ;
                padding:5px 0px;
            }
        }